body {
  background-color: rgb(114, 114, 114);
  text-align: center;
}

.header {
  color: rgb(0, 0, 0);
}

.cell {
  color: rgb(199, 237, 8);
  height: 40px;
  width: 40px;
}

span {
  color: red;
}

img {
  height: 35px;
  width: 35px;
}

.left {
  transform: scaleX(-1);
}

.down {
  transform: rotate(90deg);
}

.up {
  transform: rotate(-90deg);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.endGameMsg {
  background-color: rgb(230, 230, 5);
  position: absolute;
  height: 180px;
  width: 350px;
  margin-left: 35.5%;
  margin-top: 240px;
  border-radius: 5px;
  border: solid black 2px;
}
